h2
{
    text-align: center;
}

body
{
    font-size: 22px;
    font-family: Times New Roman;
    margin: 0 50px 0 50px;
}
p
{
    text-align: justify;
    text-indent: 50px;
}
.Center
{
    text-align: center;
}
ul
{
    text-align: justify;
    list-style-type: lower-latin;
}
li
{
    margin-bottom: 1em;
    text-indent: 50px;
}

img
{
    width: 500px;
    vertical-align: -moz-middle-with-baseline;
}

table,td
{
  border: 1px solid #000;
  border-collapse: collapse;
}

td
{
  padding: 10px;
  text-align: center;
}